{
    "env": {
        "test": {
            "presets": ["react"],
            "plugins": ["transform-es2015-modules-commonjs"]
        },
        "development": {
            "plugins": [
                "syntax-dynamic-import",
                [
                    "transform-runtime",
                    {
                        "polyfill": false,
                        "regenerator": true
                    }
                ]
            ],
            "presets": [
                [
                    "env",
                    {
                        "modules": false
                    }
                ],
                "react"
            ]
        }
    }
}
